APP_ENV=production
APP_URL=https://lappytoys.kz

DB_HOST=localhost
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASS=""

CALENDLY_URL=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

IP_HASH_SALT=

MAIL_FROM=noreply@lappytoys.kz
